pkgbase = youtube-music-client-bin
	pkgdesc = YouTube Music desktop client (binary AppImage)
	pkgver = 0.3.1_alpha
	pkgrel = 1
	url = https://github.com/Azalea224/youtubemusic
	arch = x86_64
	arch = aarch64
	license = MIT
	depends = gtk3
	depends = nss
	depends = alsa-lib
	depends = libxss
	depends = libxtst
	depends = mesa
	provides = youtube-music-client
	conflicts = youtube-music-client
	conflicts = youtube-music-client-git
	options = !strip
	source_x86_64 = youtube-music-client.AppImage::https://github.com/Azalea224/youtubemusic/releases/download/v0.3.1-alpha/YouTubeMusic-0.3.1-alpha-linux-x64.AppImage
	source_x86_64 = youtube-music-client.png::https://raw.githubusercontent.com/Azalea224/youtubemusic/v0.3.1-alpha/public/icon.png
	source_x86_64 = youtube-music-client.desktop
	source_x86_64 = youtube-music-client
	source_aarch64 = youtube-music-client.AppImage::https://github.com/Azalea224/youtubemusic/releases/download/v0.3.1-alpha/YouTubeMusic-0.3.1-alpha-linux-arm64.AppImage
	source_aarch64 = youtube-music-client.png::https://raw.githubusercontent.com/Azalea224/youtubemusic/v0.3.1-alpha/public/icon.png
	source_aarch64 = youtube-music-client.desktop
	source_aarch64 = youtube-music-client
	sha256sums_x86_64 = SKIP
	sha256sums_x86_64 = SKIP
	sha256sums_x86_64 = SKIP
	sha256sums_x86_64 = SKIP
	sha256sums_aarch64 = SKIP
	sha256sums_aarch64 = SKIP
	sha256sums_aarch64 = SKIP
	sha256sums_aarch64 = SKIP

pkgname = youtube-music-client-bin
