pkgbase = youtube-music-client-git
	pkgdesc = YouTube Music desktop client (builds unpacked Linux app from git)
	pkgver = 0.0.0.r0.g0000000
	pkgrel = 1
	url = https://github.com/Azalea224/youtubemusic
	arch = x86_64
	arch = aarch64
	license = MIT
	makedepends = git
	makedepends = nodejs
	makedepends = npm
	makedepends = python
	depends = gtk3
	depends = nss
	depends = alsa-lib
	depends = libxss
	depends = libxtst
	depends = mesa
	provides = youtube-music-client
	conflicts = youtube-music-client
	conflicts = youtube-music-client-bin
	options = !strip
	source = git+https://github.com/Azalea224/youtubemusic.git
	source = youtube-music-client
	source = youtube-music-client.desktop
	sha256sums = SKIP
	sha256sums = SKIP
	sha256sums = SKIP

pkgname = youtube-music-client-git
